html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

/* nav styles */

header {
    background-color: deepskyblue;
    width: 100%;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.menu, .nav-links a {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.menu {
    background-color: #0d0950;
    border: none;
    color: #fff;
    width: 20vw;
    height: 5vh;
    padding: 10px 0;
}

.nav-links {
    width: 100%;
    display: none;
    margin: 0;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #0d0950;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: dodgerblue;
}

:has(.menu[aria-expanded='true']) .nav-links {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        display: block;
        flex-direction: row;
        justify-content: space-between;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 1rem 1.5rem;
    }

    .menu {
        display: none;
    }
}

main {
    padding: 3rem 1rem;
}

.blog-button-group {
    list-style: none;
    padding: 1rem 0;
}

.blog-button-group li {
    display: block;
    margin-bottom: 3rem;
}

.button {
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: royalblue;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0.5rem;
}