* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: white;
    font-family: sans-serif;
}

body {
    width: 100%;
    margin: 70px auto 0 auto;
    padding: 0;
    line-height: 1.5;
}

header {
    background-color: lightblue;
    position: fixed;
    top: 0;
    width: 100vw;
    overflow: hidden;
}

main {
    height: 100vh;
}

footer {
    background-color: whitesmoke;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 40px;
}

/* Header styles */

.nav {
    background-color: lightblue;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 1rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #0d0950;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: dodgerblue;
}

.menu {
    background-color: lightblue;
    border: none;
    border-right: 1px solid darkblue;
    color: darkblue;
    font-weight: bold;
    font-size: 1.1rem;
    width: 15vw;
    height: 5vh;
    padding: 10px 0;
}

.menu:hover,
.dark .menu:hover {
    background-color: dodgerblue;
    color: white;
}

:has(.menu[aria-expanded="true"]) .nav-links {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .dark .nav-links {
        background-color: black;
    }

    .nav-links a {
        display: inline-block;
        padding: 1rem 1.5rem;
    }

    .menu {
        display: none;
    }
}

.blog-button-group {
    list-style: none;
    padding: 1rem 0;
}

.blog-button-group li {
    display: block;
    margin-bottom: 1rem;
}

.blog-button-group li a {
    text-decoration: none;
    color: dodgerblue;
}

.blog-button-group li a:hover {
    font-weight: bold;
    color: royalblue;
}

.button {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: royalblue;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0.5rem;
}

/* Dark Theme Styles */

html.dark {
    background-color: lightblue;
    color: #222;
}

.dark header,
.dark .nav,
.dark .menu {
    background-color: black;
}

.dark .nav-links {
    background-color: black;
}

.dark .menu {
    border-right: 1px solid #eee;
    color: #eee;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
    color: #0d0950;
}

.dark .nav-links a {
    color: #fff;
}

.dark a {
    color: #ff9776;
}

.dark footer {
    background-color: slategray;
    color: whitesmoke;
}
